<nav class="navbar" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="../assets/templogo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112"
        height="28">
    </a>
    <div class="navbar-burger burger" #navbarBurger (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" #navbarMenu>
    <div class="navbar-start">
      <a class="navbar-item" routerLink="dice-calculator">Dice Calculator</a>
      <a class="navbar-item" routerLink="currency-converter">Currency Converter</a>
      <a class="navbar-item" routerLink="chat">Chat</a>
      <a class="navbar-item" routerLink="create-character-sheet">New Character</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>