<div class="box">
  <div id="calculator">
    <div class="section" id="calculated-output">

    </div>
    <div class="tile is-ancestor" id="dice-buttons">
      <div class="tile is-9 is-vertical is-parent">
        <div class="tile is-horizontal is-parent">
          <a class="dice-button">
            7
          </a>
          <a class="dice-button">
            8
          </a>
          <a class="dice-button">
            9
          </a>
        </div>
        <div class="tile is-horizontal is-parent">
          <a class="dice-button">
            4
          </a>
          <a class="dice-button">
            5
          </a>
          <a class="dice-button">
            6
          </a>
        </div>
        <div class="tile is-horizontal is-parent">
          <a class="dice-button">
            1
          </a>
          <a class="dice-button">
            2
          </a>
          <a class="dice-button">
            3
          </a>
        </div>
        <div class="tile is-horizontal is-parent">
          <a class="dice-button is-8">
            0
          </a>
          <a class="dice-button">
            D
          </a>
        </div>
      </div>
      <div class="tile is-3 is-parent is-vertical">
        <a class="equals-button">
          =
        </a>
      </div>
    </div>

  </div>
</div>