@import 'node_modules/bulma/bulma';

.dice-button-area {
    @extend .tile;
    @extend .is-ancestor;
    text-align: center;
}

.dice-button-area > div {
    @extend .dice-button;
}

.dice-button{
    @extend .tile;
    @extend .is-3;
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
    margin: 2px;
}