<div class="box">
  <div id="calculator" class="tile is-ancestor">
    <div class="tile is-parent calculated-output">
      <div class="tile is-child">
        {{output}}
      </div>
    </div>
    <div class="tile is-parent" id="dice-buttons">
      <div class="tile is-8 is-vertical is-parent">
        <div class="tile is-parent">
          <a class="dice-button" (click)="AddCharacter('7')">
            7
          </a>
          <a class="dice-button" (click)="AddCharacter('8')">
            8
          </a>
          <a class="dice-button" (click)="AddCharacter('9')">
            9
          </a>
        </div>
        <div class="tile is-parent">
          <a class="dice-button" (click)="AddCharacter('4')">
            4
          </a>
          <a class="dice-button" (click)="AddCharacter('5')">
            5
          </a>
          <a class="dice-button" (click)="AddCharacter('6')">
            6
          </a>
        </div>
        <div class="tile is-parent">
          <a class="dice-button" (click)="AddCharacter('1')">
            1
          </a>
          <a class="dice-button" (click)="AddCharacter('2')">
            2
          </a>
          <a class="dice-button" (click)="AddCharacter('3')">
            3
          </a>
        </div>
        <div class="tile is-parent">
          <a class="dice-button is-danger" (click)="Clear()">
            C
          </a>
          <a class="dice-button" (click)="AddCharacter('0')">
            0
          </a>
          <a class="dice-button is-warning" (click)="AddCharacter('D')">
            D
          </a>
        </div>
      </div>
      <div class="tile is-2 is-parent is-vertical">
        <a class="vertical-button" (click)="AddCharacter('+')">
          +
        </a>
        <a class="vertical-button" (click)="AddCharacter('-')">
          -
        </a>
        <a class="vertical-button" (click)="AddCharacter('*')">
          X
        </a>
        <a class="vertical-button" (click)="AddCharacter('/')">
          /
        </a>
      </div>
      <div class="tile is-2 is-parent is-vertical">
        <a class="vertical-button is-success" (click)="Calculate()">
          =
        </a>
      </div>
    </div>
  </div>
</div>