.fixed-ability-score-label {
    width: 30px;
}

// input {
    .paper-input {
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;
        border-radius: 0;
    }
// }
