.fixed-ability-score-label {
    width: 30px;
}

.paper-input {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
}

.ability-score-modifier {
    min-width: 3em;
}