<div class="container is-fluid">
  <div class="section">
    <h1 class="title">
      Character Designer
    </h1>
    <div class="field">
      <div class="control is-expanded">
        <input type="text" class="input is-rounded is-medium" required [(ngModel)]="character.name" placeholder="Character Name" />
      </div>
    </div>
    <div class="tile is-ancestor">

      <!--First Column - Ability Scores-->
      <div class="tile is-2 is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <!--Strength-->
            <div class="tile is-child">
              <div class="field is-horizontal has-addons">
                <div class="field-label is-normal">
                  <label class="label fixed-ability-score-label">Str</label>
                </div>
                <div class="field-body">
                  <div class="control is-expanded">
                    <input type="number" class="input is-rounded has-text-centered" required min="8" max="20" [value]="character.getAbilityScoreValue(AbilityScoreName.Strength)"
                      (change)="setAbilityScoreValue($event, AbilityScoreName.Strength)" />
                  </div>
                  <div class="control" title="Strength Modifier">
                    <a class="button is-static is-rounded ability-score-modifier">{{getAbilityScoreModifier(AbilityScoreName.Strength)}}</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Dexterity-->
            <div class="tile is-child">
              <div class="field is-horizontal has-addons">
                <div class="field-label is-normal">
                  <label class="label fixed-ability-score-label">Dex</label>
                </div>
                <div class="field-body">
                  <div class="control is-expanded">
                    <input type="number" class="input is-rounded has-text-centered" required min="8" max="20" [value]="character.getAbilityScoreValue(AbilityScoreName.Dexterity)"
                      (change)="setAbilityScoreValue($event, AbilityScoreName.Dexterity)" />
                  </div>
                  <div class="control" title="Dexterity Modifier">
                    <a class="button is-static is-rounded ability-score-modifier">{{getAbilityScoreModifier(AbilityScoreName.Dexterity)}}</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Constitution-->
            <div class="tile is-child">
              <div class="field is-horizontal has-addons">
                <div class="field-label is-normal">
                  <label class="label fixed-ability-score-label">Con</label>
                </div>
                <div class="field-body">
                  <div class="control is-expanded">
                    <input type="number" class="input is-rounded has-text-centered" required min="8" max="20" [value]="character.getAbilityScoreValue(AbilityScoreName.Constitution)"
                      (change)="setAbilityScoreValue($event, AbilityScoreName.Constitution)" />
                  </div>
                  <div class="control" title="Constitution Modifier">
                    <a class="button is-static is-rounded ability-score-modifier">{{getAbilityScoreModifier(AbilityScoreName.Constitution)}}</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Intelligence-->
            <div class="tile is-child">
              <div class="field is-horizontal has-addons">
                <div class="field-label is-normal">
                  <label class="label fixed-ability-score-label">Int</label>
                </div>
                <div class="field-body">
                  <div class="control is-expanded">
                    <input type="number" class="input is-rounded has-text-centered" required min="8" max="20" [value]="character.getAbilityScoreValue(AbilityScoreName.Intelligence)"
                      (change)="setAbilityScoreValue($event, AbilityScoreName.Intelligence)" />
                  </div>
                  <div class="control" title="Intelligence Modifier">
                    <a class="button is-static is-rounded ability-score-modifier">{{getAbilityScoreModifier(AbilityScoreName.Intelligence)}}</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Wisdom-->
            <div class="tile is-child">
              <div class="field is-horizontal has-addons">
                <div class="field-label is-normal">
                  <label class="label fixed-ability-score-label">Wis</label>
                </div>
                <div class="field-body">
                  <div class="control is-expanded">
                    <input type="number" class="input is-rounded has-text-centered" required min="8" max="20" [value]="character.getAbilityScoreValue(AbilityScoreName.Wisdom)"
                      (change)="setAbilityScoreValue($event, AbilityScoreName.Wisdom)" />
                  </div>
                  <div class="control" title="Wisdom Modifier">
                    <a class="button is-static is-rounded ability-score-modifier">{{getAbilityScoreModifier(AbilityScoreName.Wisdom)}}</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Charisma-->
            <div class="tile is-child">
              <div class="field is-horizontal has-addons">
                <div class="field-label is-normal">
                  <label class="label fixed-ability-score-label">Cha</label>
                </div>
                <div class="field-body">
                  <div class="control is-expanded">
                    <input type="number" class="input is-rounded has-text-centered" required min="8" max="20" [value]="character.getAbilityScoreValue(AbilityScoreName.Charisma)"
                      (change)="setAbilityScoreValue($event, AbilityScoreName.Charisma)" />
                  </div>
                  <div class="control" title="Charisma Modifier">
                    <a class="button is-static is-rounded ability-score-modifier">{{getAbilityScoreModifier(AbilityScoreName.Charisma)}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Second Column-->
      <div class="tile is-3 is-vertical">
        <!--Player Name-->
        <div class="tile is-parent">
          <div class="tile is-child">
            <div class="field">
              <div class="control">
                <input type="text" #playerName="ngModel" [class.is-danger]="(playerName.touched || playerName.dirty) && playerName.errors"
                  required class="input paper-input" placeholder="Player Name" [(ngModel)]="character.playerName" />
              </div>
              <p class="help" [class.is-danger]="(playerName.touched || playerName.dirty) && playerName.errors"
                [class.is-success]="(playerName.touched || playerName.dirty) && !playerName.errors" [class.is-hidden]="!playerName.touched">Player
                Name</p>
            </div>
          </div>
        </div>

        <!--Items-->
        <div class="tile is-parent">
          <div class="tile is-child">
            <div class="field">
              <div class="control">
                <div class="select is-multiple is-fullwidth">
                  <select #playerItems="ngModel" [(ngModel)]="character.items" multiple size="7">
                    <option disabled class="has-text-weight-bold has-text-centered">Items</option>
                    <option *ngFor="let item of character.items" [ngValue]="item" [title]="item.name">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field has-addons">
              <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Add Item" list="items-list" #itemInput />
                <datalist id="items-list">
                  <option *ngFor="let item of items" [value]="item.name">
                </datalist>
                <span class="icon is-small is-left has-text-success">
                  <i class="fas fa-plus"></i>
                </span>
              </div>
              <div class="control">
                <button class="button is-info" (click)="addItem(itemInput.value)">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile is-3 is-vertical">
        <div class="tile is-parent">
          <div class="tile is-child">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #playerRace="ngModel" required [(ngModel)]="character.race" class="paper-input">
                    <option *ngFor="let race of races" [ngValue]="race">{{race.name}}</option>
                  </select>
                </div>
                <p class="help" [class.is-danger]="(playerRace.touched || playerRace.dirty) && playerRace.errors"
                  [class.is-success]="(playerRace.touched || playerRace.dirty) && !playerRace.errors" [class.is-hidden]="!playerRace.touched">Race</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile is-2 is-vertical">
        <div class="tile is-parent">
          <div class="tile is-child">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #playerClass="ngModel" required [(ngModel)]="character.class" class="paper-input">
                    <option *ngFor="let class of classes" [ngValue]="class">{{class.name}}</option>
                  </select>
                </div>
                <p class="help" [class.is-danger]="(playerClass.touched || playerClass.dirty) && playerClass.errors"
                  [class.is-success]="(playerClass.touched || playerClass.dirty) && !playerClass.errors"
                  [class.is-hidden]="!playerClass.touched">Class</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile is-2 is-vertical">
        <div class="tile is-parent">
          <div class="tile is-child">
            <div class="field">
              <div class="control">
                <div class="select is-fullwidth">
                  <select #playerAlignment="ngModel" required [(ngModel)]="character.alignment" class="paper-input">
                    <option *ngFor="let alignment of AlignmentName | enumToArray" [ngValue]="alignment">{{AlignmentName[alignment]}}</option>
                  </select>
                </div>
                <p class="help" [class.is-danger]="(playerAlignment.touched || playerAlignment.dirty) && playerAlignment.errors"
                  [class.is-success]="(playerAlignment.touched || playerAlignment.dirty) && !playerAlignment.errors"
                  [class.is-hidden]="!playerAlignment.touched">Alignment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>